---
import Layout from '../layouts/Layout.astro'

const components = await Astro.glob('./components/*.astro')
---

<Layout title="Chisel UI">
    <ul>
        {components.map(({ title, url }) => (
            <li>
                <a href={url}>{title}</a>
            </li>
        ))}
    </ul>
</Layout>
